/*.error{
    color: red;
}

.form {
    background-color: #60C7FF;
    width: 50%;
    border-radius: 2em;
    align-items: center;
    margin: auto;
    padding: 1em;
}
.input{
    display: flex;

align-items: center;
margin: auto;
}*/
.container {
  max-width: 400px;
  margin: 1em auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: gray
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  font-weight: bold;
}

.input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  margin-top: 4px;
}

.submitButton {
  padding: 10px;
  background-color: #74ccfb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #001139;
}
.nav{
  color: red;
}




